.információ div:nth-child(1){
    background-color: rgba(236, 248, 250, 126);
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}
.információ{
    margin: 15px;
    border: 2px solid  rgba(127, 206, 225, 128);
    border-radius: 10px;
    text-align: left;
}


.időkorlát div:nth-child(1){
    background-color: rgba(254, 244, 233, 21);
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}
.időkorlát{
    margin: 15px;
    border: 2px solid  rgba(246, 154, 48, 21);
    border-radius: 10px;
    text-align: left;
}


body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    margin: 15px;
    margin-bottom: 50px;
    font-weight: lighter;
    color: rgb(118, 118, 118);
}

mark{
    font-family:monospace;
    background-color: rgb(245, 245, 245);
    font-size: large;
    padding-left: 2px;
    padding-right: 2px;
}
p{
    margin: 20px;
}
li{
    margin: 20px;
}
i{
    margin-left: 10px;
    margin-right: 10px;
}